<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 2</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="contanier-fluid">
      <ul class='nav navbar-nav'>
        <li><a class="nav-link" routerLink="/login">Login</a></li>
        <li><a class="nav-link" routerLink="/chat">Chat</a></li>
        <li class="nav-link"><button (click)="logOut()">Logout</button></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</body>
</html>